#start-btn
{
    width: 40%;
} 
#camera
{
    width:310px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
h1{
    background-color:lightblue;
}
body{
    background-color:rgb(42, 184, 209);
}